chassis/core/src/test/resources/reporting/test-xml-report.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="report" >
    <xs:complexType>
      <xs:all>
        <xs:element name="decision" type="xs:string" />
        <xs:element name="current" type="xs:string" />
        <xs:element name="baseline" type="xs:string" />
      </xs:all>
    </xs:complexType>
  </xs:element>
</xs:schema>