chassis/spring.schema/src/main/resources/config-schema.xsd

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<xsd:schema xmlns="http://www.griddynamics.com/schema/jagger"
            xmlns:beans="http://www.springframework.org/schema/beans"
            xmlns:xsd="http://www.w3.org/2001/XMLSchema"
            targetNamespace="http://www.griddynamics.com/schema/jagger"
            elementFormDefault="qualified">
    <xsd:import namespace="http://www.springframework.org/schema/beans"
                schemaLocation="http://www.springframework.org/schema/beans/spring-beans-3.0.xsd"/>

    <!--BASIC TYPES-->
    <xsd:complexType name="basicType" abstract="true">
        <xsd:complexContent>
            <xsd:extension base="beans:identifiedType">
                <xsd:attribute name="parent" type="xsd:string"/>
            </xsd:extension>
        </xsd:complexContent>
    </xsd:complexType>

    <xsd:complexType name="primitiveOrObjectAbstract" abstract="true" mixed="true">
        <xsd:attribute name="parent" type="xsd:string"/>
        <xsd:attribute name="id" type="xsd:ID"/>
    </xsd:complexType>

    <xsd:complexType name="primitiveAbstract" abstract="true">
        <xsd:simpleContent>
            <xsd:extension base="xsd:string">
            </xsd:extension>
        </xsd:simpleContent>
    </xsd:complexType>

    <xsd:element name="primitive" type="primitiveAbstract"/>

    <xsd:element name="boolean" type="boolean" substitutionGroup="primitive"/>
    <xsd:element name="integer" type="integer" substitutionGroup="primitive"/>
    <xsd:element name="long" type="long" substitutionGroup="primitive"/>
    <xsd:element name="float" type="boolean" substitutionGroup="primitive"/>
    <xsd:element name="double" type="boolean" substitutionGroup="primitive"/>
    <xsd:element name="string" type="string" substitutionGroup="primitive"/>

    <xsd:complexType name="boolean">
        <xsd:simpleContent xml:base="xsd:boolean">
            <xsd:extension base="primitiveAbstract">
            </xsd:extension>
        </xsd:simpleContent>
    </xsd:complexType>

    <xsd:complexType name="integer">
        <xsd:simpleContent xml:base="xsd:integer">
            <xsd:extension base="primitiveAbstract">
            </xsd:extension>
        </xsd:simpleContent>
    </xsd:complexType>

    <xsd:complexType name="long">
        <xsd:simpleContent xml:base="xsd:long">
            <xsd:extension base="primitiveAbstract">
            </xsd:extension>
        </xsd:simpleContent>
    </xsd:complexType>

    <xsd:complexType name="float">
        <xsd:simpleContent xml:base="xsd:float">
            <xsd:extension base="primitiveAbstract">
            </xsd:extension>
        </xsd:simpleContent>
    </xsd:complexType>

    <xsd:complexType name="double">
        <xsd:simpleContent xml:base="xsd:double">
            <xsd:extension base="primitiveAbstract">
            </xsd:extension>
        </xsd:simpleContent>
    </xsd:complexType>

    <xsd:complexType name="string">
        <xsd:simpleContent xml:base="xsd:string">
            <xsd:extension base="primitiveAbstract">
            </xsd:extension>
        </xsd:simpleContent>
    </xsd:complexType>

    <xsd:complexType name="primitiveEntry">
        <xsd:complexContent>
            <xsd:extension base="beans:identifiedType">
                <xsd:choice>
                    <xsd:element ref="primitive"/>
                    <xsd:element name="value" type="primitiveAbstract"/>
                </xsd:choice>
                <xsd:attribute name="key" type="xsd:string" use="required"/>
            </xsd:extension>
        </xsd:complexContent>
    </xsd:complexType>

    <xsd:complexType name="primitiveMap">
        <xsd:complexContent>
            <xsd:extension base="basicType">
                <xsd:choice minOccurs="1" maxOccurs="unbounded">
                    <xsd:element name="param" type="primitiveEntry"/>
                </xsd:choice>
            </xsd:extension>
        </xsd:complexContent>
    </xsd:complexType>

    <!--CONFIGURATION-->

    <!--configuration-->
    <xsd:element name="configuration" type="configurationType">
    </xsd:element>

    <xsd:complexType name="configurationType">

        <xsd:complexContent>
            <xsd:extension base="basicType">
                <xsd:all>
                    <xsd:element name="test-suite" type="testSuiteTypeIn" minOccurs="0" maxOccurs="1"/>
                    <xsd:element name="session-execution-listeners" type="slistenersTypeIn" minOccurs="0" maxOccurs="1"/>
                    <xsd:element name="task-execution-listeners" type="tlistenersTypeIn" minOccurs="0" maxOccurs="1"/>
                    <xsd:element name="latency-percentiles" type="latencyPercentilesTypeIn" minOccurs="0" maxOccurs="1"/>
                    <xsd:element name="report" type="reportType" minOccurs="0" maxOccurs="1"/>
                </xsd:all>
            </xsd:extension>
        </xsd:complexContent>
    </xsd:complexType>

    <!--listeners-->

    <xsd:element name="session-execution-listeners" type="slistenersType"/>

    <xsd:element name="task-execution-listeners" type="tlistenersType"/>

    <xsd:element name="latency-percentiles" type="latencyPercentilesType"/>

    <xsd:complexType name="slistenersType">
        <xsd:complexContent>
            <xsd:extension base="basicType">
                <xsd:choice minOccurs="0" maxOccurs="unbounded">
                    <xsd:element name="session-listener" type="slistenersTypeIn"/>
                    <xsd:element ref="beans:bean"/>
                    <xsd:element ref="beans:ref"/>
                </xsd:choice>
            </xsd:extension>
        </xsd:complexContent>
    </xsd:complexType>

    <xsd:complexType name="tlistenersType">
        <xsd:complexContent>
            <xsd:extension base="basicType">
                <xsd:choice minOccurs="0" maxOccurs="unbounded">
                    <xsd:element name="task-listener" type="tlistenersTypeIn"/>
                    <xsd:element ref="beans:bean"/>
                    <xsd:element ref="beans:ref"/>
                </xsd:choice>
            </xsd:extension>
        </xsd:complexContent>
    </xsd:complexType>

    <xsd:complexType name="slistenersTypeIn">
        <xsd:complexContent>
            <xsd:extension base="slistenersType">
                <xsd:attribute name="ref" type="xsd:string"/>
            </xsd:extension>
        </xsd:complexContent>
    </xsd:complexType>

    <xsd:complexType name="tlistenersTypeIn">
        <xsd:complexContent>
            <xsd:extension base="tlistenersType">
                <xsd:attribute name="ref" type="xsd:string"/>
            </xsd:extension>
        </xsd:complexContent>
    </xsd:complexType>

    <xsd:complexType name="latencyPercentilesType">
        <xsd:complexContent>
            <xsd:extension base="basicType">
                <xsd:choice>
                    <xsd:element name="percentile" type="xsd:string" minOccurs="1" maxOccurs="unbounded"/>
                </xsd:choice>
            </xsd:extension>
        </xsd:complexContent>
    </xsd:complexType>

    <xsd:complexType name="latencyPercentilesTypeIn">
        <xsd:complexContent>
            <xsd:extension base="latencyPercentilesType">
                <xsd:attribute name="ref" type="xsd:string"/>
            </xsd:extension>
        </xsd:complexContent>
    </xsd:complexType>

    <!--TASKS-->
    <xsd:element name="processing" type="testSuiteType"/>

    <xsd:element name="test-suite" type="testSuiteType"/>

    <xsd:element name="test-group" type="testGroupType"/>

    <xsd:element name="test" type="testType"/>

    <xsd:element name="load" type="loadAbstract"/>

    <xsd:element name="termination" type="terminationAbstract"/>

    <xsd:element name="termination-duration" type="termination-duration" substitutionGroup="termination"/>

    <xsd:element name="termination-iterations" type="termination-iterations" substitutionGroup="termination"/>

    <xsd:element name="termination-background" type="termination-background" substitutionGroup="termination"/>

    <xsd:element name="load-user" type="load-user-group" substitutionGroup="load"/>

    <xsd:element name="load-user-group" type="load-user-group" substitutionGroup="load"/>

    <xsd:element name="load-threads" type="load-threads" substitutionGroup="load"/>

    <xsd:element name="load-invocation" type="load-invocation" substitutionGroup="load"/>

    <xsd:element name="load-tps" type="load-tps" substitutionGroup="load"/>

    <xsd:complexType name="testType">
        <xsd:complexContent>
            <xsd:extension base="beans:identifiedType">
                <xsd:all>
                    <xsd:element name="load" type="loadAbstract" maxOccurs="1"/>
                    <xsd:element name="termination" type="terminationAbstract" maxOccurs="1"/>
                </xsd:all>
                <xsd:attribute name="testDescription" type="xsd:string" use="required"/>
            </xsd:extension>
        </xsd:complexContent>
    </xsd:complexType>

    <xsd:complexType name="loadAbstract" abstract="true">
        <xsd:complexContent>
            <xsd:extension base="beans:identifiedType">
                <xsd:attribute name="tickInterval" type="xsd:string"/>
            </xsd:extension>
        </xsd:complexContent>
    </xsd:complexType>

    <xsd:complexType name="terminationAbstract" abstract="true">
        <xsd:complexContent>
            <xsd:extension base="beans:identifiedType">
            </xsd:extension>
        </xsd:complexContent>
    </xsd:complexType>

    <xsd:complexType name="termination-iterations">
        <xsd:complexContent>
            <xsd:extension base="terminationAbstract">
                <xsd:attributeGroup ref="iterationsAttributes"/>
            </xsd:extension>
        </xsd:complexContent>
    </xsd:complexType>

    <xsd:complexType name="termination-duration">
        <xsd:complexContent>
            <xsd:extension base="terminationAbstract">
                <xsd:attributeGroup ref="durationAttributes"/>
            </xsd:extension>
        </xsd:complexContent>
    </xsd:complexType>

    <xsd:complexType name="termination-background">
        <xsd:complexContent>
            <xsd:extension base="terminationAbstract">
            </xsd:extension>
        </xsd:complexContent>
    </xsd:complexType>

    <xsd:complexType name="testGroupType">
        <xsd:complexContent>
            <xsd:extension base="beans:identifiedType">
                <xsd:choice minOccurs="0" maxOccurs="unbounded">
                    <xsd:element name="test" type="testTypeIn" maxOccurs="unbounded"/>
                    <xsd:element ref="beans:bean"/>
                    <xsd:element ref="beans:ref"/>
                </xsd:choice>
                <xsd:attribute name="monitoringEnabled" type="xsd:string" default="${chassis.conditions.monitoring.enable}" use="optional"/>
            </xsd:extension>
        </xsd:complexContent>
    </xsd:complexType>

    <xsd:complexType name="testTypeIn">
        <xsd:complexContent>
            <xsd:extension base="testType">
                <!--<xsd:attribute name="ref" type="xsd:string"/>-->
            </xsd:extension>
        </xsd:complexContent>
    </xsd:complexType>

    <xsd:complexType name="testSuiteType">
        <xsd:complexContent>
            <xsd:extension base="beans:identifiedType">
                <xsd:choice minOccurs="0" maxOccurs="unbounded">
                    <xsd:element name="test-group" type="testGroupType" maxOccurs="unbounded"/>
                    <xsd:element ref="beans:bean"/>
                    <xsd:element ref="beans:ref"/>
                </xsd:choice>
            </xsd:extension>
        </xsd:complexContent>
    </xsd:complexType>

    <xsd:complexType name="testSuiteTypeIn">
        <xsd:complexContent>
            <xsd:extension base="testSuiteType">
                <xsd:attribute name="ref" type="xsd:string"/>
            </xsd:extension>
        </xsd:complexContent>
    </xsd:complexType>

    <xsd:complexType name="load-user-groups">
        <xsd:complexContent>
            <xsd:extension base="loadAbstract">
                <xsd:choice>
                    <xsd:element name="user" type="userGroupIn" minOccurs="1" maxOccurs="unbounded"/>
                </xsd:choice>
            </xsd:extension>
        </xsd:complexContent>
    </xsd:complexType>

    <xsd:complexType name="userGroupIn">
        <xsd:complexContent>
            <xsd:extension base="loadAbstract">
                <xsd:attributeGroup ref="userAttributes"/>
            </xsd:extension>
        </xsd:complexContent>
    </xsd:complexType>

    <xsd:complexType name="load-user-group">
        <xsd:complexContent>
            <xsd:extension base="loadAbstract">
                <xsd:attributeGroup ref="userAttributes"/>
            </xsd:extension>
        </xsd:complexContent>
    </xsd:complexType>

    <xsd:complexType name="load-threads">
        <xsd:complexContent>
            <xsd:extension base="loadAbstract">
                <xsd:attributeGroup ref="virtualUserAttributes"/>
            </xsd:extension>
        </xsd:complexContent>
    </xsd:complexType>

    <xsd:complexType name="load-invocation">
        <xsd:complexContent>
            <xsd:extension base="loadAbstract">
                <xsd:attributeGroup ref="invocationAttributes"/>
            </xsd:extension>
        </xsd:complexContent>
    </xsd:complexType>

    <xsd:complexType name="invocationTypeIn">
        <xsd:complexContent>
            <xsd:extension base="load-invocation">
                <xsd:attribute name="ref" type="xsd:string"/>
            </xsd:extension>
        </xsd:complexContent>
    </xsd:complexType>

    <xsd:complexType name="load-tps">
        <xsd:complexContent>
            <xsd:extension base="loadAbstract">
                <xsd:attributeGroup ref="tpsAttributes"/>
            </xsd:extension>
        </xsd:complexContent>
    </xsd:complexType>

    <xsd:attributeGroup name="userAttributes">
        <xsd:attribute name="count" type="xsd:string" use="required"></xsd:attribute>
        <xsd:attribute name="startCount" type="xsd:string" use="required"></xsd:attribute>
        <xsd:attribute name="startIn" type="xsd:string" use="required"></xsd:attribute>
        <xsd:attribute name="startBy" type="xsd:string" use="required"></xsd:attribute>
        <xsd:attribute name="life" type="xsd:string" use="required"></xsd:attribute>
    </xsd:attributeGroup>

    <xsd:attributeGroup name="virtualUserAttributes">
        <xsd:attribute name="count" type="xsd:integer" use="required"></xsd:attribute>
    </xsd:attributeGroup>

    <xsd:attributeGroup name="invocationAttributes">
        <xsd:attribute name="exactcount" type="xsd:integer" use="required"></xsd:attribute>
        <xsd:attribute name="threads" type="xsd:integer" use="required"></xsd:attribute>
        <xsd:attribute name="delay" type="xsd:integer" default="0"></xsd:attribute>
    </xsd:attributeGroup>

    <xsd:attributeGroup name="tpsAttributes">
        <xsd:attribute name="value" type="xsd:integer" use="required"></xsd:attribute>
        <xsd:attribute name="maxThreadNumber" type="xsd:integer"/>
    </xsd:attributeGroup>

    <xsd:attributeGroup name="iterationsAttributes">
        <xsd:attribute name="maxDuration" type="xsd:string"></xsd:attribute>
        <xsd:attribute name="iterations" type="xsd:string" use="required"></xsd:attribute>
    </xsd:attributeGroup>

    <xsd:attributeGroup name="durationAttributes">
        <xsd:attribute name="duration" type="xsd:string" use="required"></xsd:attribute>
    </xsd:attributeGroup>

    <!--WORKLOAD-->

    <xsd:element name="test-description" type="workloadType"/>

    <xsd:complexType name="workloadType">
        <xsd:complexContent>
            <xsd:extension base="basicType">
                <xsd:all>
                    <xsd:element name="info-collectors" type="workloadListenersType" minOccurs="0" maxOccurs="1"/>
                    <xsd:element name="scenario" type="scenarioAbstract" minOccurs="0" maxOccurs="1"/>
                </xsd:all>
                <xsd:attribute name="name" type="xsd:string"/>
                <xsd:attribute name="version" type="xsd:integer"/>
                <xsd:attribute name="calibration" type="xsd:boolean" default="false"/>
            </xsd:extension>
        </xsd:complexContent>
    </xsd:complexType>

    <!--listeners -->

    <xsd:element name="collector" type="workloadCollectorAbstract"/>

    <!--metrics-->

    <xsd:element name="metric" type="metricAbstract" substitutionGroup="collector"/>

    <xsd:element name="metric-not-null-response" type="metric-not-null-response" substitutionGroup="metric"/>

    <xsd:element name="metric-custom" type="metric-custom" substitutionGroup="metric"/>

    <!--validators-->

    <xsd:element name="validator" type="validatorAbstract" substitutionGroup="collector"/>

    <xsd:element name="validator-not-null-response" type="validator-not-null-response" substitutionGroup="validator"/>

    <xsd:element name="validator-consistency" type="validator-consistency" substitutionGroup="validator"/>

    <xsd:complexType name="workloadListenersType">
        <xsd:complexContent>
            <xsd:extension base="basicType">
                <xsd:choice minOccurs="0" maxOccurs="unbounded">
                    <xsd:element ref="collector"/>
                </xsd:choice>
            </xsd:extension>
        </xsd:complexContent>
    </xsd:complexType>

    <xsd:complexType name="workloadCollectorAbstract" abstract="true">
        <xsd:complexContent>
            <xsd:extension base="basicType">
            </xsd:extension>
        </xsd:complexContent>
    </xsd:complexType>

    <xsd:complexType name="metricAbstract" abstract="true">
        <xsd:complexContent>
            <xsd:extension base="workloadCollectorAbstract">
            </xsd:extension>
        </xsd:complexContent>
    </xsd:complexType>

    <xsd:complexType name="metric-not-null-response" >
        <xsd:complexContent>
            <xsd:extension base="metricAbstract">
            </xsd:extension>
        </xsd:complexContent>
    </xsd:complexType>

    <xsd:complexType name="metric-custom">
        <xsd:complexContent>
            <xsd:extension base="metricAbstract">
                <xsd:attribute name="calculator" type="xsd:string" use="required"/>
            </xsd:extension>
        </xsd:complexContent>
    </xsd:complexType>

    <xsd:complexType name="validatorAbstract">
        <xsd:complexContent>
            <xsd:extension base="workloadCollectorAbstract">
            </xsd:extension>
        </xsd:complexContent>
    </xsd:complexType>

    <xsd:complexType name="validator-consistency">
        <xsd:complexContent>
            <xsd:extension base="validatorAbstract">
                <xsd:attribute name="queryEq" type="xsd:string"/>
                <xsd:attribute name="endpointEq" type="xsd:string"/>
                <xsd:attribute name="resultEq" type="xsd:string"/>
            </xsd:extension>
        </xsd:complexContent>
    </xsd:complexType>

    <xsd:complexType name="validator-not-null-response">
        <xsd:complexContent>
            <xsd:extension base="validatorAbstract">
            </xsd:extension>
        </xsd:complexContent>
    </xsd:complexType>

    <xsd:complexType name="validator-ref">
        <xsd:complexContent>
            <xsd:extension base="validatorAbstract">
                <xsd:attribute name="ref" type="xsd:string" use="required"/>
            </xsd:extension>
        </xsd:complexContent>
    </xsd:complexType>

    <!--possible scenarios-->

    <xsd:element name="scenario" type="scenarioAbstract"/>

    <xsd:element name="scenario-http" type="scenario-http" substitutionGroup="scenario"/>

    <xsd:element name="scenario-query-pool" type="scenario-query-pool" substitutionGroup="scenario"/>

    <xsd:element name="scenario-ref" type="scenario-ref" substitutionGroup="scenario"/>

    <xsd:complexType name="scenarioAbstract" abstract="true">
        <xsd:complexContent>
            <xsd:extension base="basicType">
            </xsd:extension>
        </xsd:complexContent>
    </xsd:complexType>

    <xsd:complexType name="scenario-ref">
        <xsd:complexContent>
            <xsd:extension base="scenarioAbstract">
                <xsd:attribute name="ref" type="xsd:string" use="required"/>
            </xsd:extension>
        </xsd:complexContent>
    </xsd:complexType>

    <xsd:complexType name="scenario-http">
        <xsd:complexContent>
            <xsd:extension base="scenarioAbstract">
                <xsd:all>
                    <xsd:element name="endpoint" type="xsd:string" minOccurs="1" maxOccurs="1"/>
                    <xsd:element name="http-query" type="query-http" minOccurs="1" maxOccurs="1"/>
                </xsd:all>
            </xsd:extension>
        </xsd:complexContent>
    </xsd:complexType>

    <xsd:complexType name="scenario-query-pool">
        <xsd:complexContent>
            <xsd:extension base="scenarioAbstract">
                <xsd:all>
                    <xsd:element name="invoker" type="invokerAbstract" minOccurs="0" maxOccurs="1"/>
                    <xsd:element name="query-provider" type="queryProviderAbstract" minOccurs="0" maxOccurs="1"/>
                    <xsd:element name="endpoint-provider" type="endpointProviderAbstract" minOccurs="0" maxOccurs="1"/>
                    <xsd:element name="query-distributor" type="queryDistributorAbstract" minOccurs="0" maxOccurs="1"/>
                </xsd:all>
            </xsd:extension>
        </xsd:complexContent>
    </xsd:complexType>

    <!--possible invokers-->

    <xsd:element name="invoker" type="invokerAbstract"/>

    <xsd:element name="invoker-http" type="invoker-http" substitutionGroup="invoker"/>

    <xsd:element name="invoker-soap" type="invoker-soap" substitutionGroup="invoker"/>

    <xsd:element name="invoker-class" type="invoker-class" substitutionGroup="invoker"/>

    <xsd:complexType name="invokerAbstract" abstract="true">
        <xsd:complexContent>
            <xsd:extension base="basicType">
            </xsd:extension>
        </xsd:complexContent>
    </xsd:complexType>

    <xsd:complexType name="invoker-http">
        <xsd:complexContent>
            <xsd:extension base="invokerAbstract">
            </xsd:extension>
        </xsd:complexContent>
    </xsd:complexType>

    <xsd:complexType name="invoker-soap">
        <xsd:complexContent>
            <xsd:extension base="invokerAbstract">
            </xsd:extension>
        </xsd:complexContent>
    </xsd:complexType>

    <xsd:complexType name="invoker-class">
        <xsd:complexContent>
            <xsd:extension base="invokerAbstract">
                <xsd:attribute name="class" type="xsd:string" use="required"/>
            </xsd:extension>
        </xsd:complexContent>
    </xsd:complexType>

    <!--queries-->

    <xsd:element name="query-provider" type="queryProviderAbstract"/>

    <xsd:element name="query-provider-list" type="query-provider-list" substitutionGroup="query-provider"/>

    <xsd:element name="query-provider-ref" type="query-provider-ref" substitutionGroup="query-provider"/>

    <xsd:element name="query" type="queryType"/>

    <xsd:element name="query-http" type="query-http" substitutionGroup="query"/>

    <xsd:element name="query-ref" type="query-ref" substitutionGroup="query"/>

    <xsd:complexType name="queryProviderAbstract" abstract="true">
        <xsd:complexContent>
            <xsd:extension base="basicType">
            </xsd:extension>
        </xsd:complexContent>
    </xsd:complexType>

    <xsd:complexType name="query-provider-ref">
        <xsd:complexContent>
            <xsd:extension base="queryProviderAbstract">
                <xsd:attribute name="ref" type="xsd:string" use="required"/>
            </xsd:extension>
        </xsd:complexContent>
    </xsd:complexType>

    <xsd:complexType name="query-provider-list">
        <xsd:complexContent>
            <xsd:extension base="queryProviderAbstract">
                <xsd:choice minOccurs="1" maxOccurs="unbounded">
                    <xsd:element ref="query"/>
                </xsd:choice>
            </xsd:extension>
        </xsd:complexContent>
    </xsd:complexType>

    <xsd:complexType name="queryType" mixed="true">
        <xsd:complexContent>
            <xsd:extension base="primitiveOrObjectAbstract">
            </xsd:extension>
        </xsd:complexContent>
    </xsd:complexType>

    <xsd:complexType name="query-ref" mixed="true">
        <xsd:complexContent>
            <xsd:extension base="queryType">
                <xsd:attribute name="ref" type="xsd:string" use="required"/>
            </xsd:extension>
        </xsd:complexContent>
    </xsd:complexType>

    <xsd:complexType name="query-http" mixed="true">
        <xsd:complexContent>
            <xsd:extension base="queryType">
                <xsd:choice>
                    <xsd:sequence>
                        <xsd:element name="method-params" type="primitiveMap" minOccurs="0" maxOccurs="1"/>
                        <xsd:element name="client-params" type="primitiveMap" minOccurs="0" maxOccurs="1"/>
                    </xsd:sequence>
                    <xsd:sequence>
                        <xsd:element name="client-params" type="primitiveMap" minOccurs="0" maxOccurs="1"/>
                        <xsd:element name="method-params" type="primitiveMap" minOccurs="0" maxOccurs="1"/>
                    </xsd:sequence>
                </xsd:choice>
                <xsd:attribute name="method" type="httpMethodsEnum" default="GET"/>
            </xsd:extension>
        </xsd:complexContent>
    </xsd:complexType>

    <xsd:simpleType name="httpMethodsEnum">
        <xsd:restriction base="xsd:string">
            <xsd:enumeration value="GET"/>
            <xsd:enumeration value="POST"/>
            <xsd:enumeration value="PUT"/>
            <xsd:enumeration value="DELETE"/>
            <xsd:enumeration value="TRACE"/>
            <xsd:enumeration value="HEAD"/>
            <xsd:enumeration value="OPTIONS"/>
            <xsd:enumeration value="CONNECT"/>
        </xsd:restriction>
    </xsd:simpleType>

    <!--endpoints-->

    <xsd:element name="endpoint-provider" type="endpointProviderAbstract"/>

    <xsd:element name="endpoint-provider-list" type="endpoint-provider-list" substitutionGroup="endpoint-provider"/>

    <xsd:element name="endpoint-provider-ref" type="endpoint-provider-ref" substitutionGroup="endpoint-provider"/>

    <xsd:element name="endpoint" type="endpointType"/>

    <xsd:complexType name="endpointProviderAbstract" abstract="true">
        <xsd:complexContent>
            <xsd:extension base="basicType">
            </xsd:extension>
        </xsd:complexContent>
    </xsd:complexType>

    <xsd:complexType name="endpoint-provider-ref">
        <xsd:complexContent>
            <xsd:extension base="endpointProviderAbstract">
                <xsd:attribute name="ref" type="xsd:string" use="required"/>
            </xsd:extension>
        </xsd:complexContent>
    </xsd:complexType>

    <xsd:complexType name="endpoint-provider-list">
        <xsd:complexContent>
            <xsd:extension base="endpointProviderAbstract">
                <xsd:choice minOccurs="1" maxOccurs="unbounded">
                    <xsd:element ref="endpoint"/>
                </xsd:choice>
            </xsd:extension>
        </xsd:complexContent>
    </xsd:complexType>

    <xsd:complexType name="endpointType" mixed="true">
        <xsd:complexContent>
            <xsd:extension base="primitiveOrObjectAbstract">
            </xsd:extension>
        </xsd:complexContent>
    </xsd:complexType>

    <xsd:complexType name="endpoint-ref" mixed="true">
        <xsd:complexContent>
            <xsd:extension base="endpointType">
                <xsd:attribute name="ref" type="xsd:string" use="required"/>
            </xsd:extension>
        </xsd:complexContent>
    </xsd:complexType>

    <!--distributors-->

    <xsd:element name="query-distributor" type="queryDistributorAbstract"/>

    <xsd:element name="query-distributor-round-robin" type="query-distributor-round-robin" substitutionGroup="query-distributor"/>

    <xsd:element name="query-distributor-one-by-one" type="query-distributor-one-by-one" substitutionGroup="query-distributor"/>

    <xsd:complexType name="queryDistributorAbstract" abstract="true">
        <xsd:complexContent>
            <xsd:extension base="basicType">
            </xsd:extension>
        </xsd:complexContent>
    </xsd:complexType>

    <xsd:complexType name="query-distributor-round-robin">
        <xsd:complexContent>
            <xsd:extension base="queryDistributorAbstract">
            </xsd:extension>
        </xsd:complexContent>
    </xsd:complexType>

    <xsd:complexType name="query-distributor-one-by-one">
        <xsd:complexContent>
            <xsd:extension base="queryDistributorAbstract">
            </xsd:extension>
        </xsd:complexContent>
    </xsd:complexType>

    <xsd:complexType name="query-distributor-ref">
        <xsd:complexContent>
            <xsd:extension base="queryDistributorAbstract">
                <xsd:attribute name="ref" type="xsd:string" use="required"/>
            </xsd:extension>
        </xsd:complexContent>
    </xsd:complexType>

    <!--REPORTING-->

    <xsd:element name="report" type="reportType"/>

    <xsd:complexType name="reportType">
        <xsd:complexContent>
            <xsd:extension base="beans:identifiedType">
                <xsd:all>
                    <xsd:element name="extensions" type="extensionsType" minOccurs="0"/>
                    <xsd:element name="session-comparators" type="sessionComparatorsType" minOccurs="0"/>
                </xsd:all>
                <xsd:attributeGroup ref="reportTypeAttribute"/>
            </xsd:extension>
        </xsd:complexContent>
    </xsd:complexType>

    <xsd:attributeGroup name="reportTypeAttribute">
        <xsd:attribute name="rootTemplateLocation" type="xsd:string"/>
        <xsd:attribute name="outputReportLocation" type="xsd:string"/>
    </xsd:attributeGroup>

    <xsd:complexType name="extensionsType">
        <xsd:complexContent>
            <xsd:extension base="beans:identifiedType">
                <xsd:choice minOccurs="0" maxOccurs="unbounded">
                    <xsd:element name="extension" type="extensionType"></xsd:element>
                </xsd:choice>
            </xsd:extension>
        </xsd:complexContent>
    </xsd:complexType>

    <xsd:complexType name="extensionType">
        <xsd:complexContent>
            <xsd:extension base="beans:identifiedType">
                <xsd:choice minOccurs="0" maxOccurs="1">
                    <xsd:element ref="beans:ref"/>
                </xsd:choice>
                <xsd:attributeGroup ref="extensionAttribute"/>
            </xsd:extension>
        </xsd:complexContent>
    </xsd:complexType>

    <xsd:attributeGroup name="extensionAttribute">
        <xsd:attribute name="ref" type="xsd:string" use="optional"/>
    </xsd:attributeGroup>

    <xsd:complexType name="sessionComparatorsType">
        <xsd:complexContent>
            <xsd:extension base="beans:identifiedType">
                <xsd:choice minOccurs="0" maxOccurs="unbounded">
                    <xsd:element name="comparator-monitoring" type="comparator-monitoring"/>
                    <xsd:element name="comparator-workload" type="comparator-workload"/>
                </xsd:choice>
                <xsd:attributeGroup ref="sessionComparatorsAttribute"/>
            </xsd:extension>
        </xsd:complexContent>
    </xsd:complexType>

    <xsd:element name="comparator" type="comparatorAbstract"/>

    <xsd:element name="comparator-monitoring" type="comparator-monitoring" substitutionGroup="comparator"/>

    <xsd:element name="comparator-workload" type="comparator-workload" substitutionGroup="comparator"/>

    <xsd:element name="comparator-ref" type="comparator-ref" substitutionGroup="comparator"/>

    <xsd:element name="decision-maker" type="decisionMakerAbstract"/>

    <!--unsupported yet-->
    <!--<xsd:element name="decision-maker-throughput" type="decision-maker-throughput" substitutionGroup="decision-maker"/>-->

    <!--<xsd:element name="decision-maker-stddev" type="decision-maker-stddev" substitutionGroup="decision-maker"/>-->

    <!--<xsd:element name="decision-maker-ref" type="decision-maker-ref" substitutionGroup="decision-maker"/>-->

    <xsd:complexType name="comparatorAbstract" abstract="true">
        <xsd:complexContent>
            <xsd:extension base="basicType">
            </xsd:extension>
        </xsd:complexContent>
    </xsd:complexType>

    <xsd:complexType name="decisionMakerAbstract" abstract="true">
        <xsd:complexContent>
            <xsd:extension base="basicType"/>
        </xsd:complexContent>
    </xsd:complexType>

    <xsd:complexType name="decisionMakerMonitoringAbstract" abstract="true">
        <xsd:complexContent>
            <xsd:extension base="decisionMakerAbstract"/>
        </xsd:complexContent>
    </xsd:complexType>

    <xsd:complexType name="decisionMakerWorkloadAbstract" abstract="true">
        <xsd:complexContent>
            <xsd:extension base="decisionMakerAbstract"/>
        </xsd:complexContent>
    </xsd:complexType>

    <xsd:complexType name="comparator-monitoring">
        <xsd:complexContent>
            <xsd:extension base="comparatorAbstract">
                <xsd:choice minOccurs="1" maxOccurs="1">
                    <xsd:element name="decision-maker" type="decisionMakerMonitoringAbstract"/>
                </xsd:choice>
            </xsd:extension>
        </xsd:complexContent>
    </xsd:complexType>

    <xsd:complexType name="comparator-workload">
        <xsd:complexContent>
            <xsd:extension base="comparatorAbstract">
                <xsd:choice minOccurs="1" maxOccurs="1">
                    <xsd:element name="decision-maker" type="decisionMakerWorkloadAbstract"/>
                </xsd:choice>
            </xsd:extension>
        </xsd:complexContent>
    </xsd:complexType>

    <xsd:complexType name="comparator-ref">
        <xsd:complexContent>
            <xsd:extension base="comparatorAbstract">
                <xsd:attribute name="ref" type="xsd:string" use="required"/>
            </xsd:extension>
        </xsd:complexContent>
    </xsd:complexType>
    
    <xsd:complexType name="decision-maker-workload-throughput">
        <xsd:complexContent>
            <xsd:extension base="decisionMakerWorkloadAbstract">
                <xsd:attribute name="fatalDeviationThreshold" type="xsd:float" use="required"/>
                <xsd:attribute name="warningDeviationThreshold" type="xsd:float" use="required"/>
            </xsd:extension>
        </xsd:complexContent>
    </xsd:complexType>

    <xsd:complexType name="decision-maker-monitoring-stddev">
        <xsd:complexContent>
            <xsd:extension base="decisionMakerMonitoringAbstract">
                <xsd:attribute name="fatalDeviationThreshold" type="xsd:float" use="required"/>
                <xsd:attribute name="warningDeviationThreshold" type="xsd:float" use="required"/>
            </xsd:extension>
        </xsd:complexContent>
    </xsd:complexType>

    <xsd:complexType name="decision-maker-monitoring-ref">
        <xsd:complexContent>
            <xsd:extension base="decisionMakerMonitoringAbstract">
                <xsd:attribute name="ref" type="xsd:string" use="required"/>
            </xsd:extension>
        </xsd:complexContent>
    </xsd:complexType>

    <xsd:complexType name="decision-maker-workload-ref">
        <xsd:complexContent>
            <xsd:extension base="decisionMakerWorkloadAbstract">
                <xsd:attribute name="ref" type="xsd:string" use="required"/>
            </xsd:extension>
        </xsd:complexContent>
    </xsd:complexType>

    <xsd:attributeGroup name="sessionComparatorsAttribute">
        <xsd:attribute name="baselineId" type="xsd:integer" use="optional"/>
        <xsd:attribute name="strategy" type="strategyType" use="optional"/>
    </xsd:attributeGroup>

    <xsd:simpleType name="strategyType">
        <xsd:restriction base="xsd:string">
            <xsd:enumeration value="worstCase"/>
        </xsd:restriction>
    </xsd:simpleType>

</xsd:schema>
